<!-- bio --> 
<p >Proven product leader with deep experience in technology and product innovation &star;        
    Transforms business, technical, and strategic constraints into scalable, high-impact solutions &star; 
    Thrives in dynamic, hands-on, high-stakes environments, delivering tangible results across the entire product lifecycle &star;
    </p>
    
<p style='display: none'>
    Experienced product leader with deep knowledge of platform innovation and a proven track record of delivering results.
    Unique ability to combine and reshape business and technical constraints into leveraged, scalable solutions. 
    Adept at integrating emergent business visions into tangible outcomes across the entire product lifecycle. 
    Thrives in dynamic environments, leading teams through critical, high-stakes challenges.
</p>
