    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ append: page.body | escape }}" />
    {% else %}
    <meta name="description" content="{{ page.subtitle }}">
    <meta property="og:description"  content="{{ page.body | escape }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />

    {% if page.title %}
    <meta property="og:title"        content="{{ page.title | append: subtitle | escape }}" />
    <meta property="og:title"        content="{{ page.title | append: subtitle | escape }}" />
    {% endif %}

    <meta property="og:image"        content="{{ page.image | absolute_url | escape}}" />
    <meta property="og:url"          content="{{ page.url | absolute_url | escape}}" />
    <meta property="og:type"         content="article" />
    <meta property="og:locale"       content="{{ site.locale }}" />

