---
layout: default
---

<div class="container portfolio-page-outer">
  <div class="portfolio-page-embody" style="border-color: #{{ page.border | default: page.color | default: "666666" }}; --portfolio-bg: #{{ page.background | default: "ffffff" }}; --portfolio-color: #{{ page.color }}; --portfolio-border: #{{ page.border | default: page.color | default: "666666" }};">
    <article class="portfolio-item"
      style="--portfolio-bg: #{{ page.background | default: "ffffff" }}; --portfolio-border: #{{ page.border | default: page.color | default: "666666" }};">
    <div class="portfolio-title">
      <img class='logo' src="{{ page.image }}" alt="{{ page.title }}" />
      <h1 class="synopsis">
        {{ page.role }}
        <br />
        {{ page.title }}
        <br />
        {{ page.customer }}
      </h1>
    </div>

    <p class="synopsis">{{ page.body }}</p>

    <div class="tags">
      {% for tag in page.tags %}
      <span class="tag" onclick="filterFromPortfolio('{{ tag }}')">{{ tag }}</span>
      {% endfor %}
    </div>

    <div class="portfolio-break"></div>

    <div class="aspects-grid">
      <div class="aspect-card problem">
        <div class="aspect-icon" style="background-image: url('/assets/icons/problem.png');"></div>
        <h2 class="aspect problem">Problem</h2>
        <p>{{ page.problem }}</p>
      </div>

      <div class="aspect-card stakes">
        <div class="aspect-icon" style="background-image: url('/assets/icons/stakes.png');"></div>
        <h2 class="aspect stakes">Stakes</h2>
        <p>{{ page.stakes }}</p>
      </div>

      <div class="aspect-card discovery">
        <div class="aspect-icon" style="background-image: url('/assets/icons/discovery.png');"></div>
        <h2 class="aspect discovery">Discovery</h2>
        <p>{{ page.discovery }}</p>
      </div>

      <div class="aspect-card outcome">
        <div class="aspect-icon" style="background-image: url('/assets/icons/outcome.png');"></div>
        <h2 class="aspect outcome">Outcome</h2>
        <p>{{ page.outcome }}</p>
      </div>
    </div>

    {% if page.artifacts %}
    <div class="portfolio-break"></div>
    {% endif %}

    <div class="artifacts">
      {% for image in page.artifacts %}
      <img class='artifact' src="{{ image | relative_url }}" alt="{{name}} artifact" />
      {% endfor %}
    </div>

    <div class="portfolio-break"></div>

    </article>
  </div>
</div>

<script>
function filterFromPortfolio(tag) {
    const url = new URL('/', window.location.origin);
    url.searchParams.set('tag', tag);
    window.location.href = url.toString();
}
</script>
