/* bento.css */

body {
    background-color: #f8f8f8;
    display: flex;
    line-height: 1.1;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: grid;
    box-sizing: border-box;
}

.bento-box {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 90%;
    box-sizing: border-box;
    max-width: 900px;
    align-content: middle;
}

div .bento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    box-sizing: border-box;
    padding: 20px;
    width: 300px;
    height: 300px;
    background-color: white;
}

.bento .title {
    line-height: 1.1;
    letter-spacing: -2%;
    color: inherit;
    background-color: inherit;
    text-wrap: no-wrap;
}

.bento h2 {
    display: block;
    color: inherit;
    padding-left: 10px;
    padding-right: 10px;
    background-color: inherit;
}

.superlarge {
    font-size: 3em;
}

.bento .arrow {
    margin: 0;
    padding: 0;
    display: none;
    background-color: inherit;
}

a:hover .bento .arrow {
    display: block;
}

a {
    text-decoration: none;
}

.bento a:hover {
    color: inherit;
}

.bento .subtitle {
    color: inherit;
    font-size: 1.8em;
    display: none;
    max-height: 100px;
    line-height: 1.1;
}

.bento:hover {
    border: 5px solid;
}


.bento:hover .subtitle {
    display: block;
}

.bento img {
    position: relative;
    top: 15px;
    z-index: 0;
    width: 90%;
    opacity: 1.0;
    background-color: inherit;
    border-radius: 20px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    margin: 0;
}

a:hover .bento img {
    display: none;
    color: inherit;
    background-color: inherit;
    border-radius: 20px;
    transition: transform 0.5s ease, display 0.5s ease;
}


.bento .subtitle>a {
    opacity: 0;
}

.bento:first-child {
    background-color: red;
}

.bento .subtitle>a:hover {
    opacity: 1.0;
}

a {
    color: black;
}

a:visited {
    color: inherit;
}

@media (max-width: 1000px) {
    .bento-box {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .bento-box {
        grid-template-columns: 1fr;
    }
}