/* bento.css */

body {
    background-color: #f8f8f8;
    display: flex;
    line-height: 1.0;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: grid;
    padding: 20pt;
    box-sizing: border-box;
}

.bento-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10pt;
    max-width: 1200px;
    width: 90%;
    box-sizing: border-box;
}

div .bento {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30pt;
    box-sizing: border-box;
    position: relative;
    padding: 25pt;
    min-height: 250pt;
    max-width: 200pt;
    max-height: 25%;
    max-width: 250pt;
    width: 250pt;
    background-color: white;
}

.bento:first-child {
    background-color: rgba(0,0,0,0);
    border: 0px;
    box-shadow: none;
}

.bento:first-child h2 {
    display: none;
}

.bento img {
    opacity: 1.0;
    color: inherit;
    background-color: inherit;
}

.bento h2 {
    position: absolute;
    font-size: 1.8em;
    line-height: 1.1;
    letter-spacing: -2%;
    bottom: 0;
    z-index: +2;
    color: inherit;
    background-color: inherit;
}

.bento h3 {
    font-size: 1.5em;
    position: absolute;
    display: none;
    z-index: +2;
    color: inherit;
    background-color: inherit;
}



.bento h1 {
    display: none;
    position: absolute;
    top: 20%;
    font-size: 4em;
    z-index: +2;
    text-align: center;
    background-color: inherit;
}

.bento a:hover h1 {
    display: block;
}

.bento p {
    position: absolute;
    font-size: 1em;
    line-height: 1.15;
    display: none;
    z-index: +2;
    color: inherit;
    background-color: inherit;
}

.bento:hover {
    border: 5px solid;
}

.bento:hover h2 {
    display: block;
    top: 0;
    max-height: 1.75em;
}

.bento:hover h3 {
    display: block;
    top: 70pt;
}

.bento:hover p {
    display: block;
    bottom: 10%;
    z-index: +2;
}

.bento img {
    width: 100%;
    border-radius: 20px;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.bento:hover img {
    opacity: 5%;
}

.bento h3>a {
    opacity: 0;
}

.bento:first-child {
    background-color: red;
}

.container h3>a:hover {
    opacity: 1.0;
    text-decoration: none;
    font-size: 3em;
}

a {
    color: black;
}

a:visited {
    color: inherit;
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}