/* portfolio.css */

img .logo {
    height: 100px;
    border-radius: 50%;
    margin: 20px;
}

article {
    justify-self: center;
    padding: 40px;
    width: 80%;
    max-width: 800px;
}

article h2 {
    margin-bottom: 0;
    margin-left: 0pt;
}

article p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 28pt;
}

article img {
    width: 50%;
    border-radius: 20px;
    margin-left:   28pt;
    float: left;
}

/* 
  D03A21	discovery
  F0C768	outcome
  5A62BC	problem
  306F53	stakes 
  */

.synopsis {
    line-height: 1.2em;
    margin-left: 24pt;
}

.aspect {
    line-height: 1.5em;
    padding-left: 28pt;
}

.problem {
    color: #D03A21;
    background: url('/assets/icons/problem.png') no-repeat left center;
    background-size: 24pt 24pt;
}

.stakes {
    color: #F0C768;
    background: url('/assets/icons/stakes.png') no-repeat left center;
    background-size: 24pt 24pt;
}
    

.discovery {
    color: #5A62BC;
    background: url('/assets/icons/discovery.png') no-repeat left;
    background-size: 24pt 24pt;
}

.outcome {
    color: #306F53;
    background: url('/assets/icons/outcome.png') no-repeat left center;
    background-size: 24pt 24pt;
}

.portfolio-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tags {
    margin-left: 24pt;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20pt;
}

.tag {
    margin-top: 20pt;
    border-radius: 15pt;
    font-weight: bold;
    padding: 5pt 10pt;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
