html {
  font-size: 100%;
}

body {
  font-family: $font-family;
  background: $bg-light;
  color: $primary;
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  padding-top: $nav-height;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 5px 20px;
  width: 100%;
  box-sizing: border-box;

  @include mobile {
    padding: 5px 15px;
  }

  @include small {
    padding: 5px 10px;
    max-width: 100%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family;
  color: $dark;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.025em;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.15;
  }
}

h1 {
  font-size: 2rem;
  a { color: inherit; }
}

h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1.0625rem; color: $secondary; font-weight: 600; }

p { margin: 15px 0; }

a {
  color: $primary;
  text-decoration: none;
  cursor: pointer;

  &:visited { color: inherit; }

  &:hover { color: $link; }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul { list-style-type: disc; }
ol { list-style-type: decimal; }
ol ul, ul ol, ul ul, ol ol { margin: 0; }
ul ul, ol ul { list-style-type: circle; }

em, i { font-style: italic; }
strong, b { font-weight: bold; }
img { max-width: 100%; }

.date {
  font-style: italic;
  color: $secondary;
}

::selection {
  color: $dark;
  background: $light;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: none;
  text-align: left;
  vertical-align: top;
}

th { background-color: $bg-light; }
tr:hover { background-color: $bg-hover; }
