---
layout: default
---
<style> 

    .tag {
      /* background-color: #888; */
      background-color: #{{ page.color | default: '888'}};
      color: #{{ page.background | default: 'FFF' }};
    }

    body {
      background-color: #{{ page.background }};
    }

    .container {
      background-color: #{{ page.background }};
    }

    img {
      width: 30%;
    }

    hr {
      margin-top: 20pt;
      color:#{{ page.border }}
    }

  .portfolio-item {
    /* border: 4px solid #{{ page.border }}; */
    border-radius: 40px;
    background-color: #{{ page.background }};
    border-color: #{{ page.border }};
  }

</style>

<div class="container"> 
  <article class="portfolio-item" >
    <div class="portfolio-title">
      <img class='logo' src="{{ page.image }}" alt="{{ page.title }}" />
      <h1 class="synopsis">
      {{ page.role }}     
      <br />
      {{ page.title }}
      <br />
      {{ page.customer }}
      <br clear="all"/>
      </h1>
    </div>

    <p class="synopsis">{{ page.body }}</p>

    <hr/>

    <h2 class="aspect problem">Problem</h2>
    <p>{{ page.problem }}</p>

    <h2 class="aspect stakes">Stakes</h2>
    <p>{{ page.stakes }}</p>

    <h2 class="aspect discovery">Discovery</h2>
    <p>{{ page.discovery }}</p>

    <h2 class="aspect outcome">Outcome</h2>
    <p>{{ page.outcome }}</p>

    <hr/>

    <div class="tags">
      {% for tag in page.tags %}
        <span class="tag">{{ tag }}</span>
      {% endfor %}
    </div>
  </article>

</div>